<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hocheoltech.boos.mapper.MemberMapper">

    <insert id="createMember">
        insert into MEMBERS(
                              ID
                            , PASSWORD
                            , NAME
                            , BUSINESS_CATEGORY
                            , BUSINESS_REG_NUM
                            , OPEN_TIME
                            , JOIN_TIME
                            , NICKNAME
        )
        values(
                  #{id}
                , #{password}
                , #{name}
                , #{businessCategory}
                , #{businessRegNum}
                , STR_TO_DATE(#{openTime},'%Y%m%d')
                , NOW()
                , #{nickname}
              )
    </insert>
    
    <select id="getMemberNum" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(id)
          FROM MEMBERS
         WHERE ID = #{id}
    </select>

    <select id="findByIdPwd" resultType="java.lang.Integer">
        SELECT COUNT(id)
          FROM MEMBERS
         WHERE ID = #{id}
           AND PASSWORD = #{password}
    </select>

    <update id="updateMember">
        UPDATE MEMBERS
           SET   ID = #{id}
               , PASSWORD = #{password}
               , NAME = #{name}
               , BUSINESS_CATEGORY = #{businessCategory}
               , NICKNAME = #{nickname}
         WHERE ID = #{id}
    </update>
    <delete id="deleteMember">
        DELETE FROM MEMBERS
        WHERE ID = #{id}
    </delete>

</mapper>
